extends ../layout

block content
  a(href='/posts') back to posts
  h1= post.title
  p= post.content

  if auth.user && auth.user.id == post.user_id
    a(href='/posts/'+post.id+'/edit') edit
    form(action='' method='post')
      input(name='_method' type='hidden' value='delete')
      button(role='submit') delete

  h2= 'comments'
  ul
    each comment in post.comments
      li #{comment.content}
    else
      li There is no posts
  if auth.user
    form(action='/posts/'+post.id+'/comment' method='post')
      textarea(id='content' name='content' required)
      button(role='submit') comment

